body {
    margin: 0;
    padding: 2em;
}
.button {
    font-size: 18px;
    padding: 1em 1.5em;
    background: rgb(217, 214, 214);
    text-align: center;
    border: 2px solid rgb(217, 214, 214);
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.button:focus, .button:hover {
    background-color: blue;
}

.primary {
    background-color: rgb(243, 165, 29);
}

.secondary {
    background-color: rgb(124, 137, 58);
}

.outline {
    background-color: white;
}