main {
    border: 2px solid green;
    padding: 20px 50px;
}

section {
    border: 2px solid blue;
    padding: 20px;;
}

article {
    border: 2px solid black;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

