.flex-item {
    display: flex;
    flex-direction: row;
    border: 1px solid blue;
    width: 40%;
    padding: 10px;
    height: 200px;
}

.flex-item > div {
    border: 2px solid black;
    padding: 10px;
    background-color: rgb(246, 241, 241);
    width: 50px;
    height: 35px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.align-self-flex-end > :nth-child(2) {
    align-self: flex-end;
}

.align-self-center > :nth-child(2) {
    align-self: center;
}

.align-self-baseline > div {
    align-self: baseline;
}