* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.site {
    font: 14px/1.5 Lato, sans-serif;
    padding: 2em;
}

p {
    margin-bottom: 2em;
}

section {
    border: 1px solid rgb(211, 204, 204);
    border-radius: 5px;
    background-color: rgb(229, 229, 229);
    margin-bottom: 2em;
    font-weight: bold;
}

form {
    margin-bottom: 2em;
}

input {
    padding: 0.6em;
    border-radius: 5px;
    border: 2px solid rgb(223, 222, 222);
}