@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Gochi Hand";
    height: 100vh;
    background-color: rgb(218, 217, 217);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.postcard {
    border-radius: 0.6rem;
    background-color: white;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 1rem 0;
}

.image-wrapper {
    width: 95%;
    position: relative;
}

.image-wrapper img {
    width: 100%;
    height: auto;
    display: block;
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
    padding-bottom: 1rem;
}

.front {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgb(172, 168, 168);
}

.message-overlay {
    border-radius: 0.6rem;
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    text-align: center;
    width: 90%;
    padding: 0.5rem 1rem;
}

.message-overlay p {
    text-align: left;
}

.message-overlay h2 {
    font-size: 0.8rem;
    padding: 0.2rem;
}

.front p {
    font-size: 0.55rem;
    color: rgb(81, 81, 81);
}

.back {
    padding: 1rem 1.5rem;
}

.back p {
    font-size: 0.8rem;
    padding-bottom: 0.5rem;
    color: rgb(122, 121, 121);
}

.back h4 {
    margin-bottom: 0.8rem;
}