.flex-item {
    display: flex;
    border: 1px solid blue;
    width: 350px;
    padding: 10px;
}

.flex-item > div {
    border: 1.5px solid black;
    padding: 10px;
    background-color: rgb(246, 241, 241);
    width: 25px;
    text-align: center;
    overflow: visible;
}

.flex-wrap-nowrap {
    flex-wrap: nowrap;
}

.flex-wrap-nowrap > div {
    width: 23px;
    flex-shrink: 0;
}

.flex-wrap-wrap {
    flex-wrap: wrap;
}

.flex-wrap-wrap-reverse {
    flex-wrap: wrap-reverse;
}