div {
    border: 2px solid black;
    margin: 10px 5px;
    padding: 5px 20px;
}

.fixed-height {
    height: 200px;
}

.percentage-height {
    height: 50%;
}

.viewport-height {
    height: 50vh;
}

.min-height-example {
    min-height: 100px;
    max-height: 300px;
}