@media (max-width: 640px) {
    body {
        font-size: 14px;
    }

    .navigation-max-width {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .navigation-max-width img {
        display: flex;
        justify-content: flex-start;

    }

    .navigation-links-nav.navigation-links-root-class-name17,
    .button-md,
    .home-text {
        display: none;
    }

    .section-container {
        padding-top: 60px;
    }

    .home-tab-selector-header {
        margin-top: 2rem;
    }

    .home-tab-selector-cards-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .portofolio-card-image-container {
        min-width: 0;
        max-width: 100%;
        width: 100%;
        max-height: 300px;
        min-height: 300px;
    }

    .home-image-container {
        display: none;
    }

    .home-text10 {
        margin-right: 1rem;
    }

    .home-top-part,
    .home-links-container {
        display: flex;
        flex-direction: column;
    }

    .section-container {
        padding-bottom: 2rem;
    }

    .home-links-container {
        gap: 3rem;
    }

    .home-subscribe-container {
        width: 100%;
        min-width: 0;
    }

    .home-text13 {
        display: block;
    }
}