.flex-item {
    display: flex;
    border: 1px solid blue;
    width: 35%;
    padding: 10px;
}

.flex-item > div {
    border: 1px solid black;
    padding: 10px;
    background-color: rgb(246, 241, 241);
}

.justify-content-center {
    justify-content: center;
}

.justify-content-flex-end {
    justify-content: flex-end;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-space-around {
    justify-content: space-around;
}

.justify-content-space-evenly {
    justify-content: space-evenly;
}