body {
    padding: 20px;
}

div {
    border: 2px solid black;
    padding: 10px;
}

.uniform {
    margin: 20px;
}

.non-uniform {
    margin: 10px 30px 20px 40px;
}

.negative {
    margin: -20px;
}