body {
    display: flex;
    justify-content: center;
    padding: 30px;
}

main {
    font-family: 'Inter', sans-serif;
    width: 90%;
    border-radius: 7px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.intro-section {
    width: 35%;
    margin: auto;
    text-align: center;
}

.law-section {
    display: flex;
    justify-content: space-around;
}

.law-section article {
    width: 30%;
}

.last-section {
    width: 60%;
    margin: auto;
    text-align: center;
    color: gray;
}

p {
    margin-top: 0;
}

h4 {
    margin-bottom: 0;
}

span {
    font-style: italic;  
    color: gray;
}

hr {
    width: 5%;
}

section {
    padding: 10px;
}