li {
    flex-wrap: wrap;
}
ul {
    list-style: none;
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
    padding: 0;
}


button {
    color: orange;
    background-color: white;
    padding: 0.6em 1em;
    border-radius: 5px;
    border: 0.5px solid rgb(216, 212, 212);
    cursor: pointer;
    font-weight: bold;
    flex: 1 1 100%;
    font-size: 20px;
}

div {
    border: 1px solid rgb(211, 207, 207);
    margin: 2em;
    border-radius: 5px;
    background-color: rgb(232, 228, 228);
    width: 90%;
    padding-left: 0.6em;
}