.flex-item {
    display: flex;
    border: 2px solid blue;
    width: 400px;
    padding: 10px;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 200px;
}

.flex-item > div {
    border: 2px solid black;
    padding: 10px;
    background-color: rgb(246, 241, 241);
    width: 2rem;
}

.gap-row {
    row-gap: 0 2em;
}

.gap-column {
    flex-direction: column;
    column-gap: 2em 0;
}

.gap {
    gap: 2em;
}   