nav {
    color: blue;
}

nav a {
    color: blue;
    text-decoration: none;
}

nav ul li:first-child {
    font-weight: bold;
}

nav ul li:nth-of-type(2) a {
    font-weight: 500;
}

nav ul li:last-child a {
    font-style: italic;
}

h1 span:first-child,
h1 span:last-child {
    color: rgb(172, 38, 38);
    text-shadow: 0.5px 0 0 rgb(172, 38, 38), -0.5px 0 0, 0 0.5px 0, 0 -0.5px 0;
}

section article {
   background-color: rgb(136, 176, 179);
   margin-bottom: 15px;
}

section p:last-of-type {
    margin-top: 20px;
}

img {
    border: 10px solid red;
    width: 400px;
    height: auto;
}

.contact-form input[type="text"] {
    border: 2px solid blue;
    padding: 8px;
    width: 200px;
}

section article::before {
    content: "⭐";
    display: inline-block;
    font-size: 1.5em;
    margin-right: 10px;
    color: gold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.contact-form::before {
    content: "Contact us";
    color: blue;
    font-weight: bold;
}