@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

.site {
    background-image: url("./image/background.jpg");
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
    gap: 2rem;
}

article {
    background-color: white;
    padding: 1.7rem 2rem;
    border-radius: 0.1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 22rem;
    height: 30rem;
    transition: transform 0.2s;
}

article:hover {
    transform: translateY(-10px) scale(1.1);
}

.standard {
    height: 33rem;
}

.cards article .price {
    color: gray;
    margin: 1.5rem 0;
}

.cards article .price span {
    font-size: 3.5rem;
    font-weight: 600;
    color: black;
}

.annualy {
    color: gray;
    margin: 1.5rem 0;
    font-size: 12px;
}

.cards article .plan-box .features {
    list-style: none;
    margin-bottom: 1rem;
}

.cards article .plan-box .features li {
    margin-bottom: 0.7rem;
    display: flex;
    align-items: baseline;
    gap: 0.2rem;
    font-size: 14px;
}

.cards article button {
    background:black;
    color: white;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 0.2rem;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.2s, transform 0.2s;
}

.cards article button:hover {
    background: #333;
    transform: translateY(-3px) scale(1.05);
}

.cards .basic button {
    margin-top: 3.3rem;
}

.cards .standard button {
    margin-top: 4.5rem;
}
.cards .premium button {
    margin-top: 1.7rem;
}


