* {
    padding: 0;
    margin : 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(196, 194, 194);
    padding: 4em 2em;
    font: 14px/1.5 Lato, sans-serif;
}
 
.site {
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    padding:3em;
    max-width: 1100px;
}

.site > * {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 2em 3em;
}

.site-header, .site-footer {
    flex: 1 1 100%;
}

.site-main {
    flex-grow: 7;
}

aside {
    flex-grow: 3;
}

@media (max-width: 1100px) {
    .site {
        flex-direction: column;
    }
}


