.flex-item {
    display: flex;
    border: 1px solid blue;
    width: 20%;
    padding: 10px;
}

.flex-item > div {
    border: 2px solid black;
    padding: 10px;
    background-color: rgb(246, 241, 241);
    align-items: flex-start;
    flex-basis: 300px;
}

.flex-grow-one > div {
    flex-shrink: 0;
}

.flex-grow-2nd-only > :nth-child(1) {
    flex-shrink: 0;
}

.flex-grow-2nd-only > :nth-child(3) {
    flex-shrink: 0;
}