* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 14px/1.5 Lato, sans-serif;
}

body {
    padding: 2em;
    background-color: #f2f2f2;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    flex: 0 0 100%;
    max-width: 35em;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0.3em;
    padding: 2em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.15);
}

.login fieldset {
    display: block;
    width: 100%;
    border: none;
    padding: 1em;
}

legend {
    display: block;
    font-size: 1.8em;
    font-weight: bold;
    color: #333;
    padding-bottom: 1rem;
    margin-bottom: 0.5rem;
}

.login .field {
    display: flex;
    flex-direction: column;
    margin-top: 1.5em;
}

.login .field label {
    display: block;
    font-weight: bold;
    font-size: 1em;
    color: #333;
    margin-bottom: 0.35em;
}

.login input[type="text"],
.login input[type="email"] {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 0.2em;
}

.login .field span {
    font-style: italic;
    color: #a0a0a0;
    font-size: 0.7em;
    font-weight: bold;
    opacity: 0.8;
    margin-top: 0.25em;
}

.login .field textarea {
    display: block;
    width: 100%;
    min-height: 5rem;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 0.5em 0.2em;
    outline: none;
    font: inherit;
    color: #333;
    resize: vertical;
}


.login input[type="submit"] {
    display: block;
    width: 100%;
    margin-top: 2em;
    padding: 0.75em 1.5em;
    background-color: #ebebeb;
    color: #333;
    border: none;
    border-radius: 0.3em;
    font: inherit;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
}

.login input[type="submit"]:hover {
    background-color: #e0e0e0;
}

@media (max-width: 800px) {
    body {
        padding: 1.5em;
    }

    .login {
        padding: 1.5em;
    }

    legend {
        font-size: 1.6em;
        padding-bottom: 0.75rem;
    }

    .login .field {
        margin-top: 1.25em;
    }
}

@media (max-width: 600px) {
    html {
        font-size: 12px;
    }

    body {
        padding: 1em;
    }

    .login {
        flex: 1 1 auto;
        width: 100%;
        max-width: 35em;
        padding: 1.25em;
    }

    legend {
        font-size: 1.5em;
        padding-bottom: 0.5rem;
    }

    .login .field label {
        font-size: 1rem;
    }

    .login .field {
        margin-top: 1em;
    }

    .login input[type="submit"] {
        margin-top: 1.5em;
        padding: 0.65em 1.25em;
    }
}
