.section.banner {
    overflow: hidden;
    margin: auto;
    background-image: url(./images/image1.jpg);
    background-position: center;;
    position: relative;
    background-size: cover;
    min-height: max(30vh, 500px);
}

.section.banner header {
    color: white;
    font-size: 2em;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

