div {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 7px;
    padding: 30px;
    width: 70%;
    margin: auto;
    margin-bottom: 40px;
    background-color: white;
}

body {
    padding: 30px;
    background-color: rgba(128, 128, 128, 0.288);
}

header, section, footer {
    border: 1px, solid, black;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
}

.main-ctr {
    display: flex;
}

.main-content {
    width: 70%;
}

.sidebar {
    width: 30%;
}

.weekend-days {
    width: 40%;
}
