@media all {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    body {
        padding: 2em;
        font: 14px/1.5 Lato, sans-serif;
    }

    h2 {
        margin-top: 1em;
        margin-bottom: 0;
    }

    h2 + div {
        margin-top: 0.2em;
        margin-bottom: 0.5em;
    }

    div {
        margin-top: 0;
        margin-bottom: 0.5em;
    }

    pre {
        padding-bottom: 1.5em;
    }

    code {
        font-family: 'Courier New', Courier, monospace;
    }

    a {
        margin-bottom: 2em;
    }
}

body::before {
    background-color: #369;
    color: #fff;
    padding: 1em 1.5em;
    margin-bottom: 2em;
    border-radius: 0.3em;
    display: block;
    content: 'The device does NOT support hover';
}

@media print {
    body::before {
        display: block;
        content: 'The page is using a print preview or it was printed';
    }
}

@media (min-width: 30em) and (orientation: landscape) {
    body::before {
        display: block;
        content: 'The viewport width is larger than 30em and the orientation is landscape.';
    }
}


@media not (min-width: 600px) {
    body::before {
        display: block;
        content: 'The view port is NOT larger than 600px';
    }
}

@media (min-height: 680px),
screen and (orientation: portrait) {
    body::before {
        display: block;
        content: 'The viewport height is larger than 680px or the media type is screen and the orientation is portrait.';
    }
}