.flex-item {
    display: flex;
    border: 2px solid blue;
    width: 335px;
    padding: 10px;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 200px;
}

.flex-item > div {
    border: 1px solid black;
    padding: 10px;
    background-color: rgb(246, 241, 241);
    width: 1.4em;
}

.align-content-flex-start {
    align-content: flex-start;
}

.align-content-center {
    align-content: center;
}

.align-content-flex-end {
    align-content: flex-end;
}

.align-content-space-between {
    align-content: space-between;
}

.align-content-space-around {
    align-content: space-around;
}

