html {
    font-family: 'Lato', sans-serif;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
}

table {
    border-collapse: collapse;
    width: 45%;
    text-align: left;
}

th, td {
    padding: 7px 15px;
    border: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #c9c4c4;
}

thead {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #979090;
}

blockquote {
    border-left: 5px solid #ccc;
    padding-left: 25px;
    font-size: 1.8rem;
    font-style: italic;
}

blockquote footer {
    text-align: right;
}