@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

h2, h3{
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

header nav ul li a:hover {
    background-color: rgb(30, 29, 29);
}

header .logo {
    width: 5rem;
}

header .logo img {
    width: 100%;
    height: auto;
}

header nav ul li a {
    padding: 0.7rem;
    border-radius: 0.5rem;
    font-weight: bold;
}

header nav ul {
    display: flex;
}

header nav ul li {
    list-style: none;
    padding: 0.7rem;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
}

.img-wrapper {
    position: relative;
    width: 100%;
    height: 300px;
    background-color: rgb(79, 223, 79);
}

.img-wrapper img {
    width: 45%;
    height: auto;
    position: relative;
    top: 4rem;
}

main h2 {
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    color: white;
    top: -16rem
}

.taxes {
    position: absolute;
    display: flex;
    top: 9rem;
    left: 50%;
    transform: translateX(-50%)
}

.taxes-card.basic,
.taxes-card.family {
    width: 20rem;
    height: 18rem;
    background-color: #f1f1f1;
    margin: 0 3rem;
    border-radius: 0.4rem;
    border: 1px solid black;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.taxes-card.basic h3,
.taxes-card.family h3 {
    text-align: center;
    margin-bottom: 1rem;
    padding: 0.8rem;
}

.taxes-card.family > h3 {
    margin-bottom: 0;
}

.taxes-card.basic ul,
.taxes-card.family ul {
    width: 80%;
}

.taxes-card.basic ul li,
.taxes-card.family ul li {
    font-size: 0.8rem;
    list-style: circle;
    margin-bottom: 0.5rem;
}

.footer-individual > p:first-of-type {
    border-right: 1px solid white;
}

.footer-individual > p {
    padding: 0.5rem;
    font-size: 14px;
}

.footer-individual, 
.footer-family {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    color: white;
    background-color: black;
    width: 100%;
    padding: 0.5rem;
    border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
}

.footer-family {
    padding: 1.15rem;
}

.taxes-card.basic button,
.taxes-card.family button {
    padding: 0.5rem 1.2rem;
    margin: 0.5rem;
    border: none;
    background-color: green;
    color: white;
    font-size: 0.8rem;
    border-radius: 1rem;
    cursor: pointer;
}

.taxes-card.basic button:hover,
.taxes-card.family button:hover {
    background-color: darkgreen;
}

.finance {
    display: flex;
    align-items: center;
    margin: 10rem 0 3rem 0;
    padding-left: 4rem;
    gap: 3rem;
}

.finance .content {
    width: 60%;
}

.finance .content h3{
    margin-bottom: 0.7rem;
    font-size: 16px;
}

.finance .content p {
    font-size: 12px;
    margin-bottom: 0.7rem;

}

.finance .post-img-wrapper {
    width: 20%;
}

.finance .post-img-wrapper img {
    width: 100%;
    height: auto;
}

.diff-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.diff-form h3 {
    font-size: 2rem;
    font-weight: bold;
}

.diff-form p {
    font-size: 10px;
    font-weight: bold;
}

.diff-form ul {
    width: 60%;
    display: flex;
    flex-direction: column;
    border-radius: 0.2rem;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);
}

.diff-form ul li {
    list-style: none;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}
.diff-form ul li span {
    display: flex;
    gap: 8rem;
}

.diff-form ul li:nth-child(odd) {
    background-color: #f1f1f1;
}

.diff-form ul li:nth-child(even) {
    background-color: rgb(166, 210, 166);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    padding: 1rem;
    margin-top: 4rem;
}

