div {
    padding: 1rem 2rem;
    margin : 0.5rem 0;
    border: 2px solid black;
}

.font-family {
    font-family: 'Arial', sans-serif;
}

.font-size24 {
    font-size: 24px;
}

.font-weight-bold {
    font-weight: bold;
}

.font-style-italic {
    font-style: italic;
}

.font-variant-small-caps {
    font-variant: small-caps;
}